<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VALORANT</title>
    <link rel="icon" type="image/x-icon" href="/assets/favicon.jpg">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="/STYLE6.CSS">


    <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
    <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
</head>

<body>
    <header>

        <a href="#" class="logo"><img src="/assets/riotlogo.png" width="300px" height="120px"></a>
        <a href="#" class="logo2"><img src="/assets/valolog.png" width="50px"></a>

        <u1 class="navigation">
            <li>
                <a href="featured">featured</a>
            </li>
            <li>
            <li>
                <a href="apparel">apparel&nbsp;<i class="fa fa-caret-down" style="color:rgb(168, 163, 163)"></i></a>
                <ul class="dropdown">
                    <li><a href="apparel"><span>SHOP ALL</span></a></li>
                    <li><a href="apparel#top">top</a></li>
                    <li><a href="apparel#bottom">bottoms</a></li>
                    <li><a href="apparel#hoo">Hoodie&jackets</a></li>
                </ul>
            </li>
            </li>
            <li>
            <li>
                <a  href="coll">collectibles&nbsp;<i class="fa fa-caret-down"
                        style="color:rgb(168, 163, 163)"></i></a>
                <ul class="dropdown">
                    <li><a href="coll"><span>SHOP ALL</span></a></li>
                    <li><a href="coll#fig">Figures</a></li>
                    <li><a href="coll#sta">statue</a></li>
                    <li><a href="coll#pin">pin</a></li>
                </ul>
            </li>
            </li>
            <li>
            <li>
                <a class="active" href="#">art&nbsp;<i class="fa fa-caret-down" style="color:rgb(168, 163, 163)"></i></a>
                <ul class="dropdown">
                    <li><a href="#no"><span>SHOP ALL</span></a></li>
                    <li><a href="#no">-</a></li>
                    <li><a href="#no">-</a></li>
                    <li><a href="#no">-</a></li>
                </ul>
            </li>
            </li>
            <li>
            <li>
                <a href="acc">accesories&nbsp;<i class="fa fa-caret-down" style="color:rgb(168, 163, 163)"></i></a>
                <ul class="dropdown">
                    <li><a href="acc"><span>SHOP ALL</span></a></li>
                    <li><a href="acc#jew">jewellery</a></li>
                    <li><a href="acc#hat">hats & beanies</a></li>
                    <li><a href="acc#mug">Mugs</a></li>
                </ul>
            </li>
            </li>
            <li><a href="sale">Sales</a></li>
            <li><a href="cart" class="cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>
        </u1>
        <div class="search">
            <input type="text" class="search__input" placeholder="Search">
            <button class="search__button">
                <i class="fa fa-search" aria-hidden="true"></i>
            </button>
        </div>
    </header>
    <section class="aa">
        <p><a href="merch">Home&nbsp;</a><span>/</span>&nbsp;Art</p>
    </section>
    <section class="bg">
        <div class="data">
            <p>Art</p>
        </div>
        <div class="jee"><img src="/assets/white.png" alt=""></div>
    </section>
    <section class="page1">
    </section>
    <section class="page2">
        <div class="maincont">
            <div class="mainrow">
                <div class="maincol">
                    <div class="subcol">
                        <p>CATEGORY</p>
                        <div class="subrow">
                            <a href="#fig">figures</a>
                            <a href="#sta">statues</a>
                            <a href="#pin">pins</a>
                            <a href="#no">plush</a>
                        </div>
                    </div>
                </div>
                <div class="maincol">
                    <div class="cont">
    <div class="row" id="no" data-aos="fade-up" data-aos-duration="2000">
        <p>NOTHING <BR>TO SEE HERE .</p>
    </div>
    </div>
    </div>
    </div>
    </div>
    </section>




                       
    <section class="footer">
        <div class="bar">
            <div class="nav">
                <li>
                    <a href="#" class="bar1">DOWNLOAD GAME CLIENT</a>
                </li>
                <li><a href="#" class="bar2">DOWNLOAD RIOT MOBILE COMPANION APP</a>
                </li>
            </div>
        </div>
        <div class="icons">
            <i class="fa fa-twitter" aria-hidden="true"></i>
            <i class="fa fa-youtube-play" aria-hidden="true"></i>
            <i class="fa fa-instagram" aria-hidden="true"></i>
            <i class="fa fa-facebook" aria-hidden="true"></i>
            <i class="fa fa-whatsapp" aria-hidden="true"></i>
        </div>
        <div class="logologo">
            <div class="i1"><img src="/assets/riotlogosmall-removebg-preview.png"></div>
            <div class="i2"><img src="/assets/val-logo-small.png" class="i2"></div>
        </div>
        <div class="cp">
            <center>
                <p2>&#169; RIOT GAMES, INC. RIOT GAMES, VALORANT AND ANY ASSOCIATED LOGOS ARE TRADEMARKS,<BR>SERVICE
                    MARKS,
                    AND/OR REGISTERED TRADEMARKS OF RIOT, INC.</p2>
            </center>
        </div>
        <div class="nav2">
            <li>
                <a href="#" class="ba1">PRIVACY NOTICE</a>
            </li>
            <li><a href="#" class="ba2">TERMS OF SERVICE</a>
            </li>
            <li><a href="#" class="ba3">COOKIE PREFERENCES</a>
            </li>
        </div>
        <div class="last">
            <img src="/assets/blood-langages.png">
        </div>
    </section>
    <script>
        AOS.init({
            duration: 1700,
        })

    </script>
      <script src="app.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/gsap.min.js"
        integrity="sha512-cOH8ndwGgPo+K7pTvMrqYbmI8u8k6Sho3js0gOqVWTmQMlLIi6TbqGWRTpf1ga8ci9H3iPsvDLr4X7xwhC/+DQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/ScrollTrigger.min.js"
        integrity="sha512-AMl4wfwAmDM1lsQvVBBRHYENn1FR8cfOTpt8QVbb/P55mYOdahHD4LmHM1W55pNe3j/3od8ELzPf/8eNkkjISQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</body>

</html>