<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
			integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk="
			crossorigin="anonymous"
		/>
		<link rel="stylesheet" href="chatstyle.css" />
		<title>VALORANT</title>
		<link rel="icon" type="image/x-icon" href="/assets/favicon.jpg">	</head>
	<body>
        <header>
            
    <a href="#" class="logo"><img src="/assets/chatriot.png" width="300px" height="140px"></a>
    <a href="#" class="logo2"><img src="/assets/chatvalo-removebg-preview.png" width="50px"></a>
    
    <u1 class="navigation">
        <li> <li>
          <a href="index">GameInfo&nbsp;<i class="fa fa-caret-down" style="color:rgb(168, 163, 163)"></i></a>
          <ul class="dropdown">    
              <li><a href="#new">news</a></li>
              <li><a href="#agents">agents</a></li>
              <li><a href="#maps">maps</a></li>
              <li><a href="#setup">setup</a></li>
          </ul>
      </li></li>
        <li><a href="media">media</a></li>
        <li><a href="leaderboard">leaderboard</a></li>
        <li><a href="news">news</a></li>
            <li><a href="#">OurSocials&nbsp;<i class="fa fa-caret-down" style="color:rgb(168, 163, 163)"></i></a>
            <ul class="dropdown">    
                <li><a href="https://www.instagram.com/valorant/?hl=en">&nbsp;instagram</a></li>
                <li><a href="https://discord.com/invite/valorant">&nbsp;discord</a></li>
                <li><a href="https://www.youtube.com/@valorant">&nbsp;youtube</a></li>
            </ul></li>
        <li><a href="featured">merch</a></li>
        <li><a href="indexchat">connect</a></li>
        <li>
          <a href="#">LOGIN/SIGNUP</a></li>
          </u1>
        </header>
        <Section>
            <div class="bg-image"></div>
            <div class="video">
                <img src="/assets/videoch.gif">
            </div>
		<div class="join-container">
			<header class="join-header">
				<h1>VALORANT CONNECT</h1>
			</header>
			<main class="join-main">

				<form action="chat">
					<div class="form-control">
						<label for="username">Username</label>
						<input type="text" name="username" id="username" placeholder="Enter username..." required/>
					</div>
					<div class="form-control">
						<label for="room">Servers</label>
						<select name="room" id="room">
							<option value="NA">NA</option>
							<option value="LATAM">LATAM</option>
							<option value="BR">BR</option>
							<option value="EU">EU</option>
							<option value="KR">KR</option>
							<option value="AP">AP</option>
						</select>
					</div>
					<button type="submit" class="btn">JOIN</button>
				</form>

			</main>
		</div>
    </Section>
	<script src="app.js"></script>

	</body>
</html>