<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VALORANT</title>
    <link rel="icon" type="image/x-icon" href="/assets/favicon.jpg">
        <link rel="stylesheet" href="/newstyle.css">
</head>
<body>
  <div class="valo">
    <a href="/">  <img src="/assets/realtitle.png"></a>
  </div>
    <div id="main">
        <div id="page">
            <div id="loop">
                <h1><span>CHECK OUT THE DAILY NEWS&nbsp;</span></h1>
                <h1><span>CHECK OUT THE DAILY NEWS &nbsp;</span></h1>
                <h1><span>CHECK OUT THE DAILY NEWS&nbsp; </span></h1>
            </div>
            
            </div>
            <div id="page">
                <div id="loop">
                    <h1><span>CHECK OUT THE DAILY NEWS &nbsp;</span></h1>
                    <h1><span>CHECK OUT THE DAILY NEWS &nbsp;</span></h1>
                    <h1><span>CHECK OUT THE DAILY NEWS &nbsp;</span></h1>
                </div>
                
                </div>
                <div id="page">
                    <div id="loop">
                        <h1><span>CHECK OUT THE DAILY NEWS &nbsp;</span></h1>
                        <h1><span>CHECK OUT THE DAILY NEWS &nbsp;</span></h1>
                        <h1><span>CHECK OUT THE DAILY NEWS &nbsp;</span></h1>
                    </div>
                    
                    </div>
                    <div id="page">
                        <div id="loop">
                            <h1><span>CHECK OUT THE DAILY NEWS &nbsp;</span></h1>
                            <h1><span>CHECK OUT THE DAILY NEWS &nbsp;</span></h1>
                            <h1><span>CHECK OUT THE DAILY NEWS &nbsp;</span></h1>
                        </div>
                        
                        </div>
                        <div id="page">
                            <div id="loop">
                                <h1><span>CHECK OUT THE DAILY NEWS &nbsp;</span></h1>
                                <h1><span>CHECK OUT THE DAILY NEWS &nbsp;</span></h1>
                                <h1><span>CHECK OUT THE DAILY NEWS &nbsp;</span></h1>
                            </div>
                            
                            </div>
        </div>
    <div class="header">
        <div class="letters">
            <div>a</div>
            <div>k</div>
            <div>h</div>
            <div>b</div>
        </div>
        <div class="letters">
            <div>a</div>
            <div>a</div>
            <div>r</div>
            <div>?</div>
        </div>
    </div>
<div class="website-content">
    <div class="img-holder">
        <img src="/assets/hero.jpg">
    </div>
</div>
<div id="newss">
    <div class="news">
      <div class="car">
        <div class="wrapper">
          <img src="/assets/m102.png" class="cover-image">
        </div>
        <img src="/assets/m102-removebg-preview.png" class="character">
        <div class="caption">
          <p2>05/03/24 .<SPAN class="red">ESPORTS</SPAN></p2>
          <p>VALORANT MASTERS MADRID // EVENT TRAILER //<BR> A NUESTRA MANERA</p>
          <P2>VALORANT Masters has landed in Madrid! Eight teams from around the world face<BR> off in the first international event of the VALORANT Champions Tour 2024. <BR>Tune in and watch and see how we do things A NUESTRA MANERA (OUR WAY)!</P2>
        </div>
      </div>
      <div class="car">
        <div class="wrapper">
          <img src="/assets/m104.webp" class="cover-image">
        </div>
        <img src="/assets/m104-removebg-preview.png" class="character">
        <div class="caption">
          <p2>11/04/24 .<SPAN class="red">GAME UPDATES</SPAN></p2>
          <p>2024 VCT TEAM CAPSULES //<BR> REVEAL TRAILER</p>
          <P2>It’s time to take your fandom in-game. Rep your team with the all-new VCT team<BR> capsules, featuring a unique gun buddy, spray, player card, and Classic skin,<BR> designed in partnership with the VCT 2024 teams.</P2>
        </div>
      </div>
        <div class="car">
            <div class="wrapper">
              <img src="/assets/m9.jpg" class="cover-image">
            </div>
            <img src="/assets/m9-removebg-preview.png" class="character">
            <div class="caption">
              <p2>21/02/24 .<SPAN class="red">GAME UPDATES</SPAN></p2>
              <p>VALORANT PATCH NOTES 8.07</p>
              <P2>Omen said “doors can’t stop me now.”</P2>
            </div>
          </div>
        <div class="car">
          <div class="wrapper">
            <img src="/assets/mews1.jpeg" class="cover-image">
          </div>
          <img src="/assets/mews1-removebg-preview.png" class="character">
          <div class="caption">
            <p2>03/27/24 .<SPAN class="red">ESPORTS</SPAN></p2>
            <p>2024VCT AMERICAS STAGE 1 AND 2:<br>FORMAT EXPLAINER</p>
            <P2>Feel the controller role in VALORANT through the lens of top professional controllers<BR> like Boaster, MaKo, Marved, Haodong, and more!</P2>
          </div>
        </div>
        <div class="car">
          <div class="wrapper">
            <img src="/assets/mews2.jpeg" class="cover-image">
          </div>
          <img src="/assets/m4.png" class="character">
          <div class="caption">
            <p2>03/27/24 .<SPAN class="red">GAME UPDATES</SPAN></p2>
            <p>VALORANT PATCH NOTES 8.05</p>
            <P2>🦋Clove arrives, a small update to Premier, and a few bug fixes, welcome to Patch 8.05!🦋</P2>
          </div>
        </div>
        <div class="car">
          <div class="wrapper">
            <img src="/assets/m10.webp" class="cover-image">
          </div>
          <div class="caption">
            <p2>11/04/24 .<SPAN class="red">COMMUNITY</SPAN></p2>
            <p>COMMUNITY ROUNDUP: CLOVE</p>
            <p2>The community wasted no time when it came to Clove—fanart, cosplay, etc. galore.</p2>
          </div>
        </div>
        <div class="car">
          <div class="wrapper">
            <img src="/assets/mews3.jpeg" class="cover-image">
          </div>
          <img src="/assets/m3.png" class="character">
          <div class="caption">
            <p2>03/27/24 .<SPAN class="red">GAME UPDATES</SPAN></p2>
            <p>CLOVE OFFICIAL GAMEPLAY REVEAL //<br> VALORANT</p>
            <P2>Make a bit of mischief with the ultimate comeback kid, Clove: landing in VALORANT<BR> during Episode 8: Act II.</P2>
          </div>
        </div>
      </div>
</div>
<div class="footer">
  <div class="bar">
    <div class="nav">
      <li>
        <a href="#" class="bar1">DOWNLOAD GAME CLIENT</a>
      </li>
      <li><a href="#" class="bar2">DOWNLOAD RIOT MOBILE COMPANION APP</a>
      </li>
    </div>
  </div>
  <div class="logologo">
    <div class="i1"><img src="/assets/riotlogosmall-removebg-preview.png"></div>
    <div class="i2"><img src="/assets/val-logo-small.png" class="i2"></div>
  </div>
  <div class="cp">
    <center>
      <p2>&#169; RIOT GAMES, INC. RIOT GAMES, VALORANT AND ANY ASSOCIATED LOGOS ARE TRADEMARKS,<BR>SERVICE MARKS,
        AND/OR REGISTERED TRADEMARKS OF RIOT, INC.</p2>
    </center>
  </div>
  <div class="nav2">
    <li>
      <a href="#" class="ba1">PRIVACY NOTICE</a>
    </li>
    <li><a href="#" class="ba2">TERMS OF SERVICE</a>
    </li>
    <li><a href="#" class="ba3">COOKIE PREFERENCES</a>
    </li>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/gsap.min.js" integrity="sha512-cOH8ndwGgPo+K7pTvMrqYbmI8u8k6Sho3js0gOqVWTmQMlLIi6TbqGWRTpf1ga8ci9H3iPsvDLr4X7xwhC/+DQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/ScrollTrigger.min.js" integrity="sha512-AMl4wfwAmDM1lsQvVBBRHYENn1FR8cfOTpt8QVbb/P55mYOdahHD4LmHM1W55pNe3j/3od8ELzPf/8eNkkjISQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    gsap.registerPlugin(ScrollTrigger);
    document.addEventListener("DOMContentLoaded",function(){
        //const contentHolderHeight=document.querySelector(".content-holder").offsetHeight;
        const imgHolderHeight=window.innerHeight;
        const additionalScrollHeight=window.innerHeight;
        const totalBodyHeight=contentHolderHeight+imgHolderHeight+additionalScrollHeight;
        document.body.style.height=`${totalBodyHeight}px`;
    });
    ScrollTrigger.create({
        trigger:".website-content",
        start:"-0.1% top",
        end:"bottom bottom",
        onEnter:()=>{
            gsap.set(".website-content",{ position:'absolute',top:'210%'});
        },
        OnLeaveBack:()=>{
            gsap.set(".website-content",{ position:'fixed',top:'0'});
        }
    })
    gsap.to(".header .letters:first-child",{
        x:()=> -innerWidth*3,
        scale:10,
        ease:"power2.inOut",
        scrollTrigger:{
            start:"top top",
            end:`+=200%`,
            scrub:1
        }
    });
    gsap.to(".header .letters:last-child",{
        x:()=> innerWidth*3,
        scale:10,
        ease:"power2.inOut",
        scrollTrigger:{
            start:"top top",
            end:`+=200%`,
            scrub:1
        }
    });
    gsap.to(".img-holder",{
        rotation:0,
        clipPath:'polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%)',
        ease:"power2.inOut",
        scrollTrigger:{
            start:"top top",
            end:`+=200%`,
            scrub:1
        }
    });
    gsap.to(".img-holder img",{
        scale:1,
        ease:"power2.inOut",
        scrollTrigger:{
            start:"top top",
            end:`+=200%`,
            scrub:1
        }
    });
</script>
<script src="/newscript.js"></script>
<script src="app.js"></script>

</body>
</html>